<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

      <a routerLink="dashboard" class="navbar-brand">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">            
            <a routerLink="fornecedores" routerLinkActive="active" class="nav-link">Fornecedores<span class="sr-only"></span></a>

          </li>
          <li class="nav-item">
            <a routerLink="produtos" routerLinkActive="active" routerLinkActive="" class="nav-link">Produtos</a>

          </li>
          <li class="nav-item">
            <a routerLink="pedidos" routerLinkActive="active" class="nav-link">Pedidos</a>

          </li>

        </ul>
      </div>
    </div>
  </nav>